/* Global Styles */

* {
  box-sizing: border-box;
}

.fullscreen-image {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  object-fit: cover;
}


:root {
  --text-color: #333;
  --background-color: #ffededa6;
  --link-color: #007bff;
  /* Add other variables as needed */
}

[data-theme="dark"] {
  --text-color: #eee;
  --background-color: #0000009c;
  --link-color: #33aaff;
  /* Update other variables as needed */
}

h2.p {
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px solid white;
}

body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

/* Header */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap);


.wrapper {
  box-sizing: border-box;
  font-family: 'Montserrat';
}

.wrapper html,
body {
  background: url("./iustadium.jpeg");
  background-size: cover;
}

::selection {
  background: #1a75ff;
  color: #fff;
}

.wrapper {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.wrapper .title-text {
  display: flex;
  width: 200%;
}

.wrapper .title {
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 15px;
}

.wrapper .slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}

.slide-controls label.signup {
  color: #000;
}

.wrapper .slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 15px;
  background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper input[type="radio"] {
  display: none;
}

.wrapper #signup:checked~.slider-tab {
  left: 50%;
}

.wrapper #signup:checked~label.signup {
  color: #000000;
  cursor: default;
  user-select: none;
}

.wrapper #signup:checked~label.login {
  color: #ffffff;
}

.wrapper #login:checked~label.signup {
  color: #000;
}

.wrapper #login:checked~label.login {
  cursor: default;
  user-select: none;
}

.wrapper .form-container {
  width: 100%;
  overflow: hidden;
}

.wrapper .form-container .form-inner {
  display: flex;
  width: 200%;
}

.wrapper .form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.wrapper .form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 15px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}

.wrapper .form-inner form .field input:focus {
  border-color: #1a75ff;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}

.wrapper .form-inner form .field input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}

.wrapper form .field input:focus::placeholder {
  color: #1a75ff;
}

.wrapper .form-inner form .pass-link {
  margin-top: 5px;
}

.wrapper .form-inner form .signup-link {
  text-align: center;
  margin-top: 20px;
}

.wrapper .form-inner form .pass-link a,
.form-inner form .signup-link a {
  color: #1a75ff;
  text-decoration: none;
}

.wrapper .form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
  text-decoration: underline;
}

.wrapper form .btn {
  height: 50px;
  width: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.wrapper form .btn .btn-layer {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #003366, #004080, #0059b3, #0073e6);
  border-radius: 15px;
  transition: all 0.4s ease;
  ;
}

.wrapper form .btn:hover .btn-layer {
  left: 0;
}

.wrapper form .btn input[type="submit"] {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}




@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap);



.wrapper.wrap {
  width: 100%;
  overflow: hidden;
}

.wrapper.wrap-inner {
  width: 300%;

  /* css transitions */
  transition: transform 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
  transform: translateX(0);
  -webkit-backface-visibility: hidden;
}

.wrapper.section {
  margin: 10;
  width: 33%;
  height: 100%;
  padding: 1rem;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.wrapper.alpha {
  color: #333;
}

.wrapper.form {
  min-width: 30rem;
  background: #fff;
  border-radius: 4px;
  padding: 2rem;
  text-align: center;
  margin: 5em auto;
  display: inline-block;
}


/* Inputs */

.wrapper.form-wrap {
  margin: 1;
  padding: 1rem 0;
}

.wrapper.form-wrap .inputbox {
  border: 1px solid #eaedf2;
  border-radius: 3px;
  padding: 1rem 0 1rem 3.2rem;
  width: 44%;
  outline: none;
  margin-bottom: 1rem;
  font-family: inherit;
}

.wrapper.form--login .form-wrap .inputbox {
  width: 88%;
}

.wrapper.form-wrap .name,
.email,
.password {
  background: #eaedf2;
}

.wrapper.form-wrap a.button {
  background: none repeat scroll 0 0 #65addd;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 2rem;
  text-decoration: none;
}

.wrapper.form-wrap .button:hover {
  background: rgb(13, 86, 98);
}

.wrapper.form-wrap a.button>i {
  font-size: 2rem;
}

.wrapper.scroll {
  color: #555;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.wrapper.scroll:hover {
  color: #222;
}

/* Goto */

.wrapper.goto-2 {
  transform: translateX(-33%);
}

.wrapper.goto-3 {
  transform: translateX(-66%);
}

/* Main Content */

main {
  max-width: 1200px;
  margin: 100px auto 0 auto;
  padding: 20px;
}


.profile h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
  color: var(--text-color);
}

.profile {
  background-color: var(--background-color);
}

.basic-details li {
  margin-bottom: 10px;
}

.reservation-history ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reservation-history li {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: 2px solid;
}

.reservation-history {
  padding-bottom: 30px;
}

.reservation-history li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  z-index: -1;
  transition: all 0.3s ease;
}

.reservation-history li:hover:before {
  transform: scale(1.2);
}

.reservation-history h4 {
  font-size: 20px;
  font-weight: bold;
}

.reservation-history p {
  margin: 0;
}

.reservation-history p .Bold {
  font-weight: bold;
}

.reservation-history a {
  color: #007bff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.reservation-history a:hover {
  color: #0062cc;
}


.reservation-details-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  padding: 20px;
  background-color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
  color: white;
}


.reservation-details-popup>div {
  background-color: black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  color: white;
}

.reservation-details-popup h2,h3 {
  color: white;
}


.upcoming-reservations ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.upcoming-reservations li {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: 2px solid;
}

.upcoming-reservations {
  padding-bottom: 30px;
}

.upcoming-reservations li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  z-index: -1;
  transition: all 0.3s ease;
}

.upcoming-reservations li:hover:before {
  transform: scale(1.2);
}

.upcoming-reservations h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.upcoming-reservations p {
  margin: 0;
}

.upcoming-reservations a {
  color: #007bff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.upcoming-reservations a:hover {
  color: #0062cc;
}



/* View Details Modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  width: 600px;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h2 {
  font-size: 24px;
  font-weight: bold;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ccc;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.modal-close:hover {
  color: #000;
}

.modal-body {
  margin-bottom: 20px;
}

.modal-body p {
  margin: 0;
}

.modal-footer {
  text-align: right;
}

.modal-footer button {
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.modal-footer button:hover {
  background-color: var(--background-color);
}

/* Custom Styles */



.upcoming-reservations li h4 {
  margin: 0;
  flex: 1;
}

.upcoming-reservations p {
  margin: 0 10px 0 0;
}

.upcoming-reservations a {
  font-weight: bold;
}



/* Footer */

footer {
  text-align: center;
  background-color: var(--background-color);
  padding: 10px;
  font-size: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  right: 0;
}

footer p {
  margin: 0;
}

h3 {
  color: var(--text-color);
}

body {
  background-image: url('iustadium.jpeg');
  background-size: cover;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}